.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(255, 154, 171);
    color: whitesmoke;
}

.note {
    font-size: small;
    color: whitesmoke;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(254, 156, 172);
    line-height: 3;
    text-align: center;

}

body{
    background-image: url('https://i.pinimg.com/564x/f2/c3/d0/f2c3d0a57eeba58823de2dcb50b183a1.jpg');
    background-size: cover;
}

#canvas {
    margin-bottom: auto;
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px pink;
}